:root {
    --body-background: #1d2021;
    --nav-background: #282828;
    --nav-hover: #fbf1c7;
    --nav-link: #ebdbb2;
    --nav-active-background: #689d6a;
    --text-default: #f9f5d7;
    --title: #fabd2f;
    --subtitle: #83a598;
    --subsubtitle: #8ec07c;
    --subsubtitle-hover: #689d6a;
    --shadow: #d5c4a1;
    --button-hover: #8f3f71;
    --button: #b16286;
    --story-name: #fabd2f;
    --button-background: #3c3836;
}

img {
    height: 4em;
    width: 4em;
}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi)
	{
		:root {
            font-size: 2.5em;
        }

        img {
            height: 3em;
            width: 3em;
        }
        
	}

body {
    background-color: var(--body-background);
}

.navbar {
    background-color: var(--nav-background);
    overflow: hidden;
    border-radius: 0.2em 0.2em;
}

.navbar a {
    float: left;
    color: var(--nav-link);
    text-align: center;
    padding: 0.7em 0.7em;
    text-decoration: none;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a:hover {
    color: var(--nav-hover);
}

.navbar a.navbar-active {
    background-color: var(--nav-active-background);
}

.hz-space {
    width: 100%;
    padding-top: 1em;
}

.text {
    color: var(--text-default);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.text.title {
    font-size: 3em;
    color: var(--title);
}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi)
	{
		.text.title {
            font-size: 2em;
        }
    }

.text.subtitle {
    font-size: 2em;
    color: var(--subtitle);
}

.text.subsubtitle {
    font-size: 1.5em;
    color: var(--subsubtitle);
}

.text.subsubtitle:hover {
    color: var(--subsubtitle-hover);
}

.text.normal {
    
}

.text.story-name {
    font-size: 2em;
    color: var(--story-name);
}

.text.small {
    font-size: 0.8em;
}
    
.button {
    color: var(--button);
    border-radius: 0.2em 0.2em;
    text-decoration: none;
}

.button:hover {
    color: var(--button-hover);
}

.indent {
    padding-left: 1em;
}
